# Unity 
Library/
Temp/
obj/
*.pidb
*.csproj
*.unityproj
*.booproj
*.svd
*.user
*.userprefs
*.suo
*.sln
*.pdb

# Mac
__MACOSX
*.DS_Store
iOS_Xcode
/*.apk

# UnityVS
/UnityVS.*

[#]*
tmlviewer.exe
tmlviewer_Data